{% extends 'base.html' %}

{% block content %}

    <div class="container pt-3 panel">
        <div class="container-fluid">

            <div class="">
            <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Game Of The Week</th>
                </tr>
            </thead>
                <tbody>
                {% for game in games %}
                    {% if game.is_game_of_week %}
                        <tr>
                            <td>{{ game }}</td>
                        </tr>
                    {% endif %}
                {%  endfor %}
                </tbody>
            </table>
            </div>

            <div class="">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Previous Weeks Winners</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st - {{ first }}</td>
                    </tr>
                    <tr>
                        <td>2nd - {{ second }}</td>
                    </tr>
                </tbody>
            </table>
            </div>

        </div>
    </div>

    <div class="container-fluid text-center">
        <div >
            <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    {% for header in table_headers %}
                        <th scope="col">{{ header }}</th>
                    {% endfor %}
{#                    <th scope="col">Bet On Game</th>#}
                </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ game.favorite.name }}</td>
                            <td>{{ game.spread }}</td>
                            <td>{{ game.underdog.name }}</td>
                            <td>{{ game.tv }}</td>
                            <td>{{ game.date_time }}</td>
{#                            <td>#}
{#                                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">#}
{#                                  Place Bet#}
{#                                </button>#}
{#                            </td>#}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}