<!DOCTYPE html>

<html lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Site administration | Django site admin</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
	<meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class="dashboard" data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
			<h1 id="site-name"><a href="http://127.0.0.1:8000/admin/">Betting Pool</a></h1>
        	</div> 
        <div id="user-tools">
        	Welcome, <strong>{{ username }}</strong>.
        	<a href="http://127.0.0.1:8000/">View site</a> /
        	<a href="http://127.0.0.1:8000/admin/password_change/">Change password</a> /
            <a href="http://127.0.0.1:8000/accounts/logout/">Log out</a>
        	</div>
    	</div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colMS">
        <h1>Site administration</h1>
		<div id="content-main">
			<div class="app-auth module">
        		<table>
			        <caption>
			            <a href="http://127.0.0.1:8000/admin/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
			        	</caption>
		            <tbody>
		            	<tr class="model-group">
			                <th scope="row"><a href="http://127.0.0.1:8000/admin/auth/group/">Groups</a></th>
			                <td><a href="http://127.0.0.1:8000/admin/auth/group/add/" class="addlink">Add</a></td>
			                <td><a href="http://127.0.0.1:8000/admin/auth/group/" class="changelink">Change</a></td>
			            	</tr>
		            	<tr class="model-user">
			                <th scope="row"><a href="http://127.0.0.1:8000/admin/auth/user/">Users</a></th>
			                <td><a href="http://127.0.0.1:8000/admin/auth/user/add/" class="addlink">Add</a></td>
			                <td><a href="http://127.0.0.1:8000/admin/auth/user/" class="changelink">Change</a></td>
			            	</tr>
		        		</tbody>
	        		</table>
	        	</div>
			</div>
		<div id="content-related">
		    <div class="module" id="recent-actions-module">
		        <h2>Recent actions</h2>
		        <h3>My actions</h3>
            	<p>None available</p>
    			</div>
			</div>
		<br class="clear">
    	</div>
    <!-- END Content -->
    <div id="footer">
    	</div>
	</div>
<!-- END Container -->
</body>
</html>