{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <h1>Username: {{ user }}</h1>
        <p>Email: {{ user.email }}</p>
    </div>
    
    <div class="container-fluid text-center">
        <div >
            <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    {% for header in table_headers %}
                        <th scope="col">{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for bet in bets %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ bet.game }}</td>
                            <td>{{ bet.team }}</td>
                            <td>{{ bet.is_high_risk }}</td>
                            <td>{{ bet.date_time }}</td>
                            <td>{{ bet.has_paid_for_season }}</td>
                            <td>{{ bet.has_paid_for_week }}</td>
                            <td>{{ bet.game.spread }}</td>
                            <td>{{ bet.game.underdog_score }}</td>
                            <td>{{ bet.game.favorite_score }}</td>
                            
                    	</tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>   
     
{% endblock %}
