{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css" />
    <title>Title</title>
</head>
<body>
<section class="loginform cf">
<form name="login" action="submit" method="get" accept-charset="utf-8">
	<ul>
		<li><label for="username">Username</label>
		<input type="text" name="username" placeholder="yourname" required></li>
		<li><label for="password">Password</label>
		<input type="password" name="password" placeholder="password" required></li>
		<li><input type="submit" value="Login"></li>
		<li><input type="hidden" name="next" value="{{ next }}"/></li>
	</ul>
</form>
</section>
</body>
</html>