{% extends 'base.html' %}

{% block content %}
  <div>
    <h2 class="cm-header">Sign up!</h2>
  </div>
{% if form.errors %}
    <div class="alert alert-danger">
        <p><strong>Oh snap! </strong>Please fix the errors!</p>
    </div>
{% endif %}

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>

{% endblock %}