{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div>
    <h2 class="cm-header">Sign up!</h2>
  </div>
{% if form.errors %}
    <div class="alert alert-danger">
        <p><strong>Oh snap! </strong>Please fix the errors!</p>
    </div>
{% endif %}
    <div>

    </div>
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field|as_crispy_field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Sign up</button>
  </form>

{% endblock %}